<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="/vendor/app.bundle.css">
</head>
<body>

  <nav class="link-container">
    <div class="link-box">
         <span class="history" route="/home">Home</span>
    </div>

    <div class="link-box">
         <span class="history" route="/about">About</span>
    </div>
  </nav>

  <!--Content-->
  <main id="history-app">{{{body}}}</main>
  <script src="/vendor/app.bundle.js"></script>
  <script src="/vendor/router.bundle.js"></script>
</div>
</body>
</html>
