<div class="page">
  <h1>About Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fuga ipsam, numquam quam tenetur totam. Architecto autem est modi nulla quod reiciendis suscipit tenetur, voluptatem! Aspernatur numquam soluta tempore vitae!</p>
</div>